@media screen and (min-width:1024px) {
    .card{
     
        img {
            object-fit: cover;
            border-radius: 5px;
            width: 22.26vw;
            // width: 23.01vw;
            // min-width: 228.25px;
            max-width: 317.16px;
            height: 100%;
        }
        &:hover {
            transform: scale(1.3);
        }
    }
    .heightClass{
        // max-height: 475px ;
        height: 33.4vw;
        &:hover {
            transform: scale(1.2) !important;
        }
        .card-info{
            
            padding-bottom: 3vw !important;
        }
    }
   
}

        