@media screen and (min-width:1024px) {
    .cardItem {

        img {
            object-fit: cover;
            border-radius: 5px;
            width: 22.26vw;
            // width: 23.01vw;
            // min-width: 228.25px;
            max-width: 317.16px;
            height: 100%;
        }

        &:hover {
            margin-right: 1rem;
            margin-left: 1rem;
            transform: scale(1.1);
        }
    }

    .heightClass {
        // max-height: 475px ;
        height: 33.4vw;

        &:hover {
            transform: scale(1.1) !important;
        }

        .card-info {

            padding-bottom: 3vw !important;
        }
    }

    .tvHeader {
        z-index: 20;

        img {
            object-fit: cover;
            border-radius: 5px;
            width: 18vw!important;
            // width: 23.01vw;
            // min-width: 228.25px;
            max-width:300px!important;
            height: 80%!important;
           max-height: 300px!important;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
    .tvStyle{
        z-index: 20;

        img {
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
           
        }

        &:hover {
            transform: scale(1.1);
        }
    }
    .card-info{
        padding: 1em; 
    }
    .card-info-iconswrapper {
       
        .card-info-icon {
         
            font-size: 12px;
            margin: 0 5px .6em;
          
            padding: 6px;
           
        }

    
    }

    .card-info-title {
        font-size: 15px;
       
        font-weight: 600;
    }

    .card-info-ganres {
        .ganre {
          
            font-size: 8px;
            margin: 0 .3vw 0 0;
           

            &::after {
                
                font-size: 6px;
                margin: 0 0 0 .3vw;
               
            }
        }

    }
}