@import "./style/desktop";
@import "./style/tablet";
@import "./style/mobile";

.header-container {
    align-items: center;
    background-image: linear-gradient(180deg, #000000b3 10%, #0000);
    box-sizing: border-box;
    display: flex;
    height: 70px;
    justify-content: flex-start;
    padding: 0 4vw;
    position: fixed;
    top: 0;
    transition: all .2s ease-out;
    width: 100%;
    z-index: 10;
    // position: absolute;
    position: fixed;

    .header-logo {

        img {
            max-width: 130px;
        }
    }


    .header-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 4vw;
        color: #f2f2f2;

        .search {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;

            .searchbar {

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-right: 2rem;

                .searchbar-search {
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right: 3.5rem;
                    overflow: hidden;
                    background-color: #14141440;
                    border: 1px solid #f2f2f2;
                    border-radius: 6px;
                    color: #f2f2f2;
                    font-size: 12px;
                    // opacity: 0;
                    outline: none;
                    padding: 7px 30px 7px 7px;
                    transition: all .2s ease-out;
                    // width: 0;
                    width: 200px;

                    svg {
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }
            }
        }

        .profile {
            .header_profile {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .header_profile-avatar {
                    max-width: 40px;
                    margin-right: 8px;
                    height: 100%;
                    // max-width: 30px;
                    width: 100%;
                    z-index: 11;
                    cursor: pointer;
                }


            }

            .sign-out {
                cursor: pointer;
                opacity: 0; 
                background-color: #000000e6;
                border: 1px solid #ffffff80;
                box-shadow: 0 8px 16px 0 #0003;
                display: block; 
                position: absolute;
                right: 0;
                z-index: 1;
                
                padding: 10px;
            }
        }
    }


    .false {
        display: none;
        width: 0;
    }
}



.scroll {
    background-color: #141414 !important;

}