@import './style/desktop';
@import './style/mobile';
@import './style/tablet';
.container {
    background-image: url(https://image.tmdb.org/t/p/original//eNPpCa7vxO6EYL1Z3H00JoeO4jL.jpg);
    opacity: 1;
    will-change: opacity, transform;
    align-items: center;
  
    align-items: flex-end;
    // background: #141414;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // height: 90vh;
    // position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .Home-page-wrapper {
      
        // padding: 0 4vw 10vh;
        z-index: 2;
        // align-items: flex-start;
        padding-bottom: 0;
        text-align: left;
        color: #f2f2f2;
        font-family: Inter, sans-serif;
        // width: 100%;
        

        .buttons {
            margin-top: 1vw;
            align-items: center;
            display: flex;

            .button {
                align-items: center;
                display: flex;
                // font-size: 15px;
                align-items: center;

                border: 0;
                border-radius: 6px;
                color: #f2f2f2;
                cursor: pointer;
                display: inline-flex;
                font-family: Inter, sans-serif;
                // font-size: 13px;
                font-weight: 500;
                justify-content: center;
                margin-left: 10px;
                margin-top: 1em;
                // min-width: 120px;
                // padding: 10px 16px;
                text-decoration: none;
                transition: all .2s ease-out;
            }

            a {
                background-color: #e50914;
                color: #f2f2f2;
                margin-left: 0;
                span{
                    margin-left: 5px;
                }
            }

            button {
                background-color: #6d6d6eb3;
                span{
                    margin-left: 5px;
                }
            }
        }
        .descriprion{
           
            line-height: 1.6;
            text-shadow: 2px 2px 4px #14141473;
        }

    }
    .panel{
        background-color: #14141433;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    }
    .panel-shadow{
        background: linear-gradient(180deg, #0000, #0e0e0e99, #141414);
    bottom: 0;
    height: 7.5rem;
    left: 0;
    position: absolute;
    width: 100%;
    }

}