@media screen and (min-width:768px) and (max-width:1023px) {

    .cardItem{
        img {
            border-radius: 5px;
            width: 30vw;
            
            min-width: 250px;
            height: 100%;
        }
        &:hover {
            margin-right: 1rem;
            margin-left: 1rem;
            transform: scale(1.1) !important;
        }
    }
    .heightClass{
       max-height: 500px;
        height: 45vw;
        
    }
    .tvHeader {
        z-index: 20;

        img {
            object-fit: cover;
            border-radius: 5px;
            width: 22vw;
            min-width: 200px;
            // width: 23.01vw;
            // min-width: 228.25px;
          
            height: 100%;
            min-height: 300px;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
    .tvStyle{
        z-index: 20;

        img {
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
    .card-info-iconswrapper {
       
        .card-info-icon {
         
            font-size: 12px;
            margin: 0 5px .6em;
          
            padding: 6px;
           
        }

    
    }
    .card-info{
        padding: 1em; 
    }

    .card-info-title {
        font-size: 15px;
       
        font-weight: 600;
    }

    .card-info-ganres {
        .ganre {
          
            font-size: 8px;
            margin: 0 .3vw 0 0;
           

            &::after {
                
                font-size: 6px;
                margin: 0 0 0 .3vw;
               
            }
        }

    }

  
}