<div class="header-container">
  <div class="header-logo">
    <a href="/">
      <img
        class="Navbar__logo tablet"
        src="https://cdn.jsdelivr.net/gh/Th3Wall/assets-cdn/Fakeflix/Fakeflix_logo.png"
        alt=""/>
      <img class="Navbar__logo mobile " src="https://cdn.jsdelivr.net/gh/Th3Wall/assets-cdn/Fakeflix/Fakeflix_favicon_192.png" style="width: 40px;height: 40px;" >
  </a>

  </div>
  <div class="header-discover " (click)="showMenu()">
    <span  >Discover</span
    ><svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 320 512"
      class="Navbar__primarynav--toggler Navbar__primarynav--caret"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
      ></path>
    </svg>
    @if(isShow){
      <div class="navbar-primarynav-content" >
        <ul >
        <li><a routerLink="/home" routerLinkActive="router-active">Home</a></li>
        <li><a routerLink="/type/tv-series" routerLinkActive="router-active">TV Series</a></li>
        <li><a routerLink="/type/movies" routerLinkActive="router-active">Movies</a></li>
        <li><a routerLink="/type/popular" routerLinkActive="router-active">New & Popular</a></li>
        <li><a href="">My list</a></li>
      </ul>
      </div>  
      
    }
    
  </div>
  <ul class="desktop">
    <li><a routerLink="/home" routerLinkActive="router-active" >Home</a></li>
    <li><a routerLink="/type/tv-series" routerLinkActive="router-active">TV Series</a></li>
    <li><a routerLink="/type/movies" routerLinkActive="router-active">Movies</a></li>
    <li><a routerLink="/type/popular" routerLinkActive="router-active">New & Popular</a></li>
    <li><a routerLink="">My list</a></li>
  </ul>

  <div class="header-profile">
    <div class="search">
      <div class="searchbar">
        <div>
          <input
            [@widthChange]="isExpanded ? 'expanded' : 'collapsed'"
            type="text"
            placeholder="Search titles, people"
            class="searchbar-search"
            value=""
          />
        </div>
        <div class="searchbar--toggler" (click)="toggleWidth()">
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1.5em"
            width="1.5em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </div>
        <!-- <div class="searchbar--clear false">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
            ></path>
          </svg>
        </div> -->
      </div>
    </div>
    <div class="profile" >
      <div class="header_profile" (click)="showdropdown()">
        <img
          class="header_profile-avatar header_profile-toggler"
          src="https://cdn.jsdelivr.net/gh/Th3Wall/assets-cdn/Fakeflix/Fakeflix_profilepic.png"
          alt="Profile Picture"
        />
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 320 512"
          class="header_profile-toggler header_profile-caret"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
          ></path>
        </svg>
        <div class="Navbar__navprofile--content"></div>
      </div>
     
      <div class="sign-out"  [@signOut]="showSignOut ? 'expanded' : 'collapsed'" (click)="signOut()" >Sign Out</div>
    </div>
  </div>
</div>
